{% extends 'base.html' %}
{% from 'macros.html' import render_normal_field,render_text_field,render_btn_field,render_projects,render_educations,render_experiences %}
{% block title %}
    修改个人资料
{% endblock %}
{% block content %}
    <div class="form-bg">
        <form method='POST'>
            {{ form.csrf_token }}
            {{ render_normal_field(form.name) }}
            {{ render_normal_field(form.phone) }}
            {{ render_normal_field(form.age) }}
            {{ render_normal_field(form.education) }}
            {{ render_normal_field(form.work_year) }}
            <!--工作经历 -->
            <label for="">工作经历</label>
            <a href="{{ url_for('experience.add',seeker_id=user.id) }}" style="margin-left: 20px">添加</a>
            <hr>
            {{ render_experiences(user.experiences,operations=True) }}
            <!--教育经历 -->
            <label for="">教育经历</label>
            <a href="{{ url_for('education.add',seeker_id=user.id) }}" style="margin-left: 20px">添加</a>
            <hr>
            {{ render_educations(user.educations,operations=True) }}
            <!--项目经历 -->
            <label for="">项目经历</label>
            <a href="{{ url_for('project.add',seeker_id=user.id) }}" style="margin-left: 20px">添加</a>
            <hr>
            {{ render_projects(user.projects,operations=True) }}
            {{ render_text_field(form.desc) }}
            {{ render_btn_field(form.submit,'primary') }}
        </form>
    </div>
{% endblock %}