{% macro render_form(form,enctype="",url="") %}
    <form method='POST' enctype="{{ enctype }}" action="{{ url }}">
        {{ form.csrf_token }}

        {% for field in form %}
            {% if field.type == 'CSRFTokenField' %}
                {{ '' }}
            {% elif field.type == 'SubmitField' %}
                {{ form.submit(class='btn btn-primary') }}
            {% elif field.type == 'RadioField' %}
                {{ field.label.text }} {{ field() }}
            {% elif field.type == 'HiddenField' %}
                {{ field() }}
            {% elif field.type == 'BooleanField' %}
                <div class="checkbox">
                    <label>
                        {{ field() }} {{ field.label.text }}
                    </label>
                </div>
            {% else %}
                <div class="form-group {% if field.errors %} has-error {% endif %}">
                    {{ field.label }}
                    {% if field.type == 'TextAreaField' %}
                        {{ field(class='form-control', rows=6,wrap='soft', style='resize:none') }}
                    {% else %}
                        {{ field(class='form-control') }}
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </form>
{% endmacro %}


{% macro render_pagination(pagination, endpoint) %}
    <nav aria-label="Page navigation" class="nav-pagination">
        <ul class="pagination">
            <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
                <a href="{{ url_for(endpoint, page=pagination.prev_num) if pagination.has_prev else '#' }}">&laquo;</a>
            </li>
            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
                    {% endif %}
                {% else %}
                    <span class="ellipsis">?</span>
                {% endif %}
            {% endfor %}
            <li {% if not pagination.has_next %} class="disabled" {% endif %}><a
                    href="{{ url_for(endpoint, page=pagination.next_num) if pagination.has_next else '#' }}">&raquo;</a>
            </li>
        </ul>
    </nav>
{% endmacro %}


{% macro render_company(company) %}
    <div class="col-md-3 company-item">
        <div class="thumbnail" style="padding-top: 19px">
            <a href="{{ url_for('company.detail',company_id=company.id) }}"
               style="display: block;height: 100px;">
                <img src="{{ company.logo }}" alt="company-logo" width="100" height="100">
            </a>
            <h3 class="text-center">{{ company.name }}</h3>
            <h4 class="text-center">{{ company.addr }}</h4>
            <hr>
            <h4 class="text-center">在招职位：{{ company.jobs |length }}</h4>
        </div>
    </div>
{% endmacro %}


{% macro render_job(job) %}
    <div class="col-md-3">
        <div class="job-item">
            <div class="job-top">
                <div>
                    <a href="{{ url_for('job.detail',job_id=job.id) }}" style="font-weight: bold">{{ job.name }}</a>
                    <span class="timesince">[{{ job.publish_time }}]</span>
                </div>
                <div class="job-info">
                    <span class="salary">{{ job.salary }}</span>/{{ job.addr }}/{{ job.experience_text }}
                </div>
                <div class="labels" style="height: 20px; ">
                    {% for tag in job.tags %}
                        <span class="label lable-primary"
                              style="font-weight:normal;background:#585858;">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="job-bottom">
                <div class="media">
                    <div class="media-left">
                        <a href="{{ url_for('company.detail',company_id=job.company.id) }}">
                            <img class="media-object"
                                 src="{{ job.company.logo }}"
                                 alt="..."
                                 width="60" height="60">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ job.company.name }}</h4>
                        <h4>
                            <span class="glyphicon glyphicon-home"></span>
                            {{ job.company.addr }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}