{% macro render_form(form,enctype="",url="") %}
    <form method='POST' enctype="{{ enctype }}" action="{{ url }}">
        {{ form.csrf_token }}

        {% for field in form %}
            {% if field.type == 'CSRFTokenField' %}
                {{ '' }}
            {% elif field.type == 'SubmitField' %}
                {{ form.submit(class='btn btn-primary') }}
            {% elif field.type == 'RadioField' %}
                {{ field.label.text }} {{ field() }}
            {% elif field.type == 'HiddenField' %}
                {{ field() }}
            {% elif field.type == 'BooleanField' %}
                <div class="checkbox">
                    <label>
                        {{ field() }} {{ field.label.text }}
                    </label>
                </div>
            {% else %}
                <div class="form-group {% if field.errors %} has-error {% endif %}">
                    {{ field.label }}
                    {% if field.type == 'TextAreaField' %}
                        {{ field(class='form-control', rows=6,wrap='soft', style='resize:none') }}
                    {% else %}
                        {{ field(class='form-control') }}
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </form>
{% endmacro %}


{% macro render_pagination(pagination, endpoint) %}
    <nav aria-label="Page navigation" class="nav-pagination">
        <ul class="pagination">
            <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
                <a href="{{ url_for(endpoint, page=pagination.prev_num) if pagination.has_prev else '#' }}">&laquo;</a>
            </li>
            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
                    {% endif %}
                {% else %}
                    <span class="ellipsis">?</span>
                {% endif %}
            {% endfor %}
            <li {% if not pagination.has_next %} class="disabled" {% endif %}><a
                    href="{{ url_for(endpoint, page=pagination.next_num) if pagination.has_next else '#' }}">&raquo;</a>
            </li>
        </ul>
    </nav>
{% endmacro %}


{% macro render_company(company) %}
    <div class="col-md-3 company-item">
        <div class="thumbnail" style="padding-top: 19px">
            <a href="{{ url_for('company.detail',company_id=company.id) }}"
               style="display: block;height: 100px;">
                <img src="{{ company.logo }}" alt="company-logo" width="100" height="100">
            </a>
            <h3 class="text-center">{{ company.name }}</h3>
            <h4 class="text-center">{{ company.addr }}</h4>
            <hr>
            <h4 class="text-center">在招职位：{{ company.jobs |length }}</h4>
        </div>
    </div>
{% endmacro %}


{% macro render_job(job) %}
    <div class="col-md-3">
        <div class="job-item">
            <div class="job-top">
                <div>
                    <a href="{{ url_for('job.detail',job_id=job.id) }}" style="font-weight: bold">{{ job.name }}</a>
                    <p class="timesince">[{{ job.publish_time }}]</p>
                </div>
                <div class="job-info">
                    <span class="salary">{{ job.salary }}</span>/{{ job.addr }}/{{ job.experience_text }}
                </div>
                <div class="labels" style="height: 20px; ">
                    {% for tag in job.tags[:3] %}
                        <span class="label lable-primary"
                              style="font-weight:normal;background:#585858;">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="job-bottom">
                <div class="media">
                    <div class="media-left">
                        <a href="{{ url_for('company.detail',company_id=job.company.id) }}">
                            <img class="media-object"
                                 src="{{ job.company.logo }}"
                                 alt="..."
                                 width="60" height="60">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ job.company.name }}</h4>
                        <h4>
                            <span class="glyphicon glyphicon-home"></span>
                            {{ job.company.addr }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro user_search_form() %}
    <form class="form-inline search_form" method="post">
        <div class="form-group">
            <select name="keyword" id="keyword">
                <option value="2">企业名称</option>
                <option value="1">求职者名称</option>
                <option value="3">用户邮箱</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="value" name="value">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
    </form>
{% endmacro %}

{% macro job_search_form() %}
    <form class="form-inline search_form" method="post">
        <div class="form-group">
            <select name="keyword" id="keyword">
                <option value="1">职位名称</option>
                <option value="2">企业名称</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="value" name="value">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
    </form>
{% endmacro %}

{% macro tag_search_form() %}
    <form class="form-inline search_form" method="post">
        <div class="form-group">
            <label for="value">名称关键字</label>
            <input type="text" class="form-control" id="value" name="value">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
    </form>
{% endmacro %}

{% macro render_resume_table(pagination, job,feedback) %}
    <div class="post-record">
        <h1><a href="{{ url_for('job.detail',job_id=job.id) }}">{{ job.name }}</a>职位收到的简历</h1>
        <hr>
        <ul class="nav nav-tabs" role="tablist">
            <li class="{% if feedback==0 %}active{% endif %}">
                <a href="{{ url_for('job.resume_record',job_id=job.id,feedback=0) }}">未处理</a>
            </li>
            <li class="{% if feedback==1 %}active{% endif %}">
                <a href="{{ url_for('job.resume_record',job_id=job.id,feedback=1) }}">不合适</a>
            </li>
            <li class="{% if feedback==2 %}active{% endif %}">
                <a href="{{ url_for('job.resume_record',job_id=job.id,feedback=2) }}">面试</a>
            </li>
        </ul>
        {% if pagination.items %}
            <table class="table">
                <thead>
                <tr>
                    <td>姓名</td>
                    <td>邮箱</td>
                    <td>联系电话</td>
                    <td>投递时间</td>
                    <td>简历</td>
                    {% if not feedback %}
                        <td>操作</td>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for resume in pagination.items %}
                    <tr>
                        <td>{{ resume.seeker.name }}</td>
                        <td>{{ resume.seeker.user.email }}</td>
                        <td>{{ resume.seeker.phone }}</td>
                        <td>{{ resume.created_at }}</td>
                        <td>
                            <a href="{{ resume.seeker.resume }}">下载</a>
                        </td>
                        {% if not feedback %}
                            <td>
                                <a href="{{ url_for('resume.interview',job_id=job.id,seeker_id=resume.seeker.id) }}">面试</a>
                                <a href="{{ url_for('resume.reject',job_id=job.id,seeker_id=resume.seeker.id) }}">不合适</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation" class="nav-pagination">
                <ul class="pagination">
                    <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
                        <a href="{{ url_for('job.resume_record',job_id=job.id, page=pagination.prev_num) if pagination.has_prev else '#' }}">&laquo;</a>
                    </li>
                    {% for page in pagination.iter_pages() %}
                        {% if page %}
                            {% if page != pagination.page %}
                                <li><a href="{{ url_for('job.resume_record',job_id=job.id, page=page) }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
                            {% endif %}
                        {% else %}
                            <span class="ellipsis">?</span>
                        {% endif %}
                    {% endfor %}
                    <li {% if not pagination.has_next %} class="disabled" {% endif %}><a
                            href="{{ url_for('job.resume_record',job_id=job.id, page=pagination.next_num) if pagination.has_next else '#' }}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        {% else %}
            <div style="padding: 30px">空</div>
        {% endif %}
    </div>
{% endmacro %}
