{% extends 'base.html' %}
{% from "macros.html" import render_pagination %}
{% block title %}
    个人中心
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h2></h2>
        <div class="row user-info">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{{ company.logo }}"
                             width="160" height="160">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading oneline">企业名称:{{ company.name }}</h4>
                    <h4 class="media-heading oneline">一句话介绍:{{ company.slogan }}</h4>
                    <h4 class="media-heading oneline">详细介绍:{{ company.desc }}</h4>
                    <h4 class="media-heading oneline">企业地址:{{ company.addr }}</h4>
                    <h4 class="media-heading oneline">企业网址:{{ company.website }}</h4>
                </div>
            </div>
            <div class="col-xs-12 col-md-12"></div>
        </div>
        <p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('company.logo',company_id=company.id) }}"
               role="button">上传LOGO</a>
            <a class="btn btn-primary btn-lg" href="{{ url_for('company.profile',company_id=company.id) }}"
               role="button">编辑企业资料</a>
            <a class="btn btn-default btn-lg" href="{{ url_for('user.password',user_id=current_user.id) }}"
               role="button">修改密码</a>
        </p>
    </div>
    <div class="job-list">
        <h1>职位列表</h1>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('job.publish') }}" role="button">发布职位</a></p>
        <hr>
        {% if pagination.items %}
            <table class="table">
                <thead>
                <tr>
                    <td>名称</td>
                    <td>工作地点</td>
                    <td>薪资范围</td>
                    <td>发布时间</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                {% for job in pagination.items %}
                    <tr>
                        <td><a href="{{ url_for('job.detail',job_id=job.id) }}">{{ job.name }}</a></td>
                        <td>{{ job.addr }}</td>
                        <td>{{ job.salary }}</td>
                        <td>{{ job.updated_at }}</td>
                        <td>
                            <a href="{{ url_for('job.resume_record',job_id=job.id) }}" class="btn btn-primary">查看投递</a>
                            <a href="{{ url_for('tag.job_tag',job_id=job.id) }}" class="btn btn-primary">标签管理</a>
                            <a href="{{ url_for('job.update',job_id=job.id) }}" class="btn btn-default">编辑</a>
                            <a href="{{ url_for('job.delete',job_id=job.id) }}" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ render_pagination(pagination, 'user.index') }}
        {% endif %}
    </div>
{% endblock %}