{% extends 'base.html' %}
{% block title %}
    管理后台
{% endblock %}
{% block content %}
    <div class="col-md-3">
        <div class="list-group">
            <a href="{{ url_for('admin.user') }}" class="list-group-item">用户</a>
            <a href="{{ url_for('admin.job') }}" class="list-group-item">职位</a>
            <a href="{{ url_for('admin.tag') }}" class="list-group-item">标签</a>
        </div>

    </div>
    <div class="col-md-9">
        {% block operation %}{% endblock %}
        {% block admin %}{% endblock %}
    </div>
{% endblock %}