{% extends 'admin/base.html' %}
{% from 'macros.html' import render_pagination,user_search_form %}

{% block title %}
    用户管理
{% endblock %}

{% block operation %}
    <a href="{{ url_for('admin.user_add') }}" class="btn btn-primary">添加用户</a>
    {{ user_search_form() }}
{% endblock %}

{% block admin %}
    {% if pagination.items %}
        <table class="table">
            <thead>
            <tr>
                <td>名称</td>
                <td>邮箱</td>
                <td>角色</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role_text }}</td>
                    <td>
                        {% if not user.is_admin %}
                            <a href="{{ url_for('admin.user_update',user_id=user.id) }}"
                               class="btn btn-primary">修改资料</a>
                            <a href="{{ url_for('admin.user_delete',user_id=user.id) }}"
                               class="btn btn-danger">删除</a>
                            {% if user.enable %}
                                <a href="{{ url_for('admin.user_disable',user_id=user.id) }}"
                                   class="btn btn-danger">禁用</a>
                            {% else %}
                                <a href="{{ url_for('admin.user_enable',user_id=user.id) }}"
                                   class="btn btn-success">启用</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        {{ render_pagination(pagination,'admin.user') }}
    {% endif %}
{% endblock %}