{% extends 'base.html' %}
{% from 'macros.html' import render_normal_field,render_text_field,render_btn_field %}
{% block title %}
    添加项目经历
{% endblock %}
{% block content %}
    <div class="form">
        <form method='POST'>
            {{ form.csrf_token }}
            {{ render_normal_field(form.name) }}
            {{ render_normal_field(form.in_time) }}
            {{ render_normal_field(form.out_time) }}
            {{ render_text_field(form.desc) }}
            {{ render_btn_field(form.submit,'primary') }}
        </form>
    </div>
{% endblock %}